<div class="toolbar">
  <h1>Github Commit Search</h1>
</div>

<div class="container">

  <!--Search Form Component-->
  <div class="form-container">
    <form [formGroup]="formGroup" class="form-row" (ngSubmit)="searchForUser()">
      <input class="input-field" type="text" formControlName="owner" placeholder="Please Enter Repo Owner">
      <input class="input-field" type="text" formControlName="repo"  placeholder="Please Enter Repo Name">
      <input [disabled]="!formGroup.valid" class="submit-button"  type="submit" value="Search">
      <input [disabled]="!canViewMore" class="submit-button" type="submit" id="more-button" value="Next">
    </form>
    <form [formGroup]="searchFormGroup" class="form-row">
      <input class="input-field" type="text" formControlName="search" placeholder="Please Enter Commit Message">
    </form>
  </div>


  <!--Commit History Component-->

  <div class="commits-container" *ngIf="!isLoading; else loader">
    <div class="tab-header">
      <div [ngClass]="tabIndex == 0 ? 'tab-active' : 'tab'" (click)="onTabChanged(0);">Commits</div>
      <div [ngClass]="tabIndex == 1 ? 'tab-active' : 'tab'" (click)="onTabChanged(1);">Read Later</div>
    </div>

    <div id="commit-div" *ngIf="tabIndex == 0; else readLaterContainer">
      <div class="commit-card" *ngFor="let commit of (isSearching ? searchArray  : commitsArray)">
        <img [src]="commit.committer.avatarUrl">
        <div class="commit-message"> <p><b>Commit Message:</b> {{ commit.message }}</p> </div>
        <button *ngIf="!commit.readLater; else readLater" class="icon-button" (click)="saveToReadLater(commit)">
          <mat-icon >bookmark_border</mat-icon>
        </button>
        <ng-template #readLater>
          <button class="icon-button" (click)="saveToReadLater(commit)">
            <mat-icon>bookmark</mat-icon>
          </button>
        </ng-template>
      </div>
    </div>

    <ng-template #readLaterContainer>
      <div class="commit-card" *ngFor="let commit of (isSearching ? searchArray  : readLaterArray)">
        <img [src]="commit.committer.avatarUrl">
        <div class="commit-message"> <p><b>Commit Message:</b> {{ commit.message }}</p> </div>
        <button *ngIf="!commit.readLater; else readLater" class="icon-button" (click)="saveToReadLater(commit)">
          <mat-icon >bookmark_border</mat-icon>
        </button>
        <ng-template #readLater>
          <button class="icon-button" (click)="saveToReadLater(commit)">
            <mat-icon>bookmark</mat-icon>
          </button>
        </ng-template>
      </div>
    </ng-template>


  </div>
  <ng-template #loader>
    <div class="mat-spinner">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </ng-template>

</div>


