.toolbar {
  height: 56px;
  color: white;
  padding: 0 16px;
  background-color: #3e8e41;

  display: flex;
  flex-direction: row;
  align-items: center;

  .spacer {
    flex: 1;
  }

  .toolbar img {
    margin: 0 16px;
  }

  #github-logo {
    height: 48px;
    margin: 0 8px;
  }
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 60%;
  min-height: 80vh;
  max-height: 80vh;
  margin: 32px auto 0px;
}

.form-container, .commits-container {
  width: 100%;
  padding: 8px;
  margin: 0 auto;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  border: 1px solid #eee;
  background-color: #fafafa;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.mat-spinner{
  width: 100%;
  padding: 8px;
  margin: 16px auto;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  border: 1px solid #eee;
  background-color: white;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);

  .mat-progress-spinner {
    z-index: 2;
    stroke: #3e8e41;
    background-color: transparent;
    box-shadow: none;
    border: none;
  }
}

.commits-container {
  margin: 16px 0;
  min-height: 60vh;
  align-items: center;
  padding: 16px 16px;
  overflow: auto;

  .commits-tab-container, #commit-div {
    width: 100%;
  }

}

.tab-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 16px;

  .tab {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-weight: 400;

    margin: 0 16px;

    border-bottom: gray 2px solid;
  }

  .tab-active {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-weight: 600;

    margin: 0 16px;

    border-bottom: #3e8e41 2px solid;
  }
}
