<script src="services/app.service.ts"></script>
<div class="toolbar">
  <h2>Github Commit Search</h2>
  <div class="spacer"></div>
  <img id="github-logo" src="../assets/github-logo.png" alt="github-logo" srcset="">
</div>

<div class="container">

  <!--Search Form Component-->
  <div class="form-container">
    <app-form-container [canViewMore]="canViewMore" (commitSearchParams)="searchForUser($event)" (enteredSearchString)="onChange($event)"></app-form-container>
  </div>

  <!--Commit History Component-->

  <div class="commits-container" *ngIf="!isLoading; else loader">
    <div class="tab-header">
      <div [ngClass]="tabIndex == 0 ? 'tab-active' : 'tab'" (click)="onTabChanged(0);">Commits</div>
      <div [ngClass]="tabIndex == 1 ? 'tab-active' : 'tab'" (click)="onTabChanged(1);">Read Later</div>
    </div>

    <div class="commits-tab-container" *ngIf="tabIndex == 0; else readLaterContainer">

      <div id="commit-div" *ngIf="((isSearching && searchArray.length > 0) || (!isSearching && commitsArray.length > 0)); else emptyPage">
        <app-commit-list [commitsArray]="(isSearching ? searchArray  : commitsArray)" (selectedCommit)="saveToReadLater($event)"></app-commit-list>
      </div>

      <ng-template #emptyPage>
        <app-empty-image></app-empty-image>
      </ng-template>

    </div>

    <ng-template #readLaterContainer >

      <div class="commits-tab-container">

        <div *ngIf="(isSearching && searchArray.length > 0) || (!isSearching && readLaterArray.length > 0); else emptyPage">
          <app-commit-list [commitsArray]="(isSearching ? searchArray  : readLaterArray)" (selectedCommit)="saveToReadLater($event)"></app-commit-list>
        </div>

        <ng-template #emptyPage>
          <app-empty-image></app-empty-image>
        </ng-template>

      </div>

    </ng-template>

  </div>

  <ng-template #loader>
    <div class="mat-spinner">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </ng-template>

</div>


